$primary-color: #143642;
//$secondary-color: #575a4b;
//$accent-color: #a89b9d;
//$secondary-accent-color: #816C61;
$background-color: #143642;
$font-background-color: #DAD2D8;
$font-background-color-light: $font-background-color + #333333;
$font-color: #242D27;
$font-color-light: $font-color + #333333;
$font-color-negative: #DAD2D8;
$font-color-negative-light: $font-color-negative + #333333;
$transparent: rgba(0, 0, 0, 0);
$divider-color: gainsboro;


$secondary-color: #0F8B8D;
$accent-color: #EC9A29;
$secondary-accent-color: #A8201A;