@import "flex-base";

@each $p in $flex-percentages {
  @include flex-percent($p);
}

/* Small screens */
@import "flex-small";

/* Medium screens */
@import "flex-medium";

/* Large screens */
@import "flex-large";

/* Flex containers */
.flex {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;

  &.column {
    flex-direction: column;
    -webkit-flex-direction: column;

    &.start {
      align-items: flex-start;
      -webkit-align-items: flex-end;
    }

    &.end {
      align-items: flex-end;
      -webkit-align-items: flex-end;
    }
  }

  &.reverse {
    flex-flow: row-reverse wrap;
  }

  &.nowrap {
    flex-wrap: nowrap;
  }

  &.start {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }

  &.end {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
  }

  &.center {
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
  }

  &.center-v {
    align-items: center;
    -webkit-align-items: center;
  }

  &.center-h {
    justify-content: center;
    -webkit-justify-content: center;
  }

  &.spread {
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }

  &.distribute {
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
}

/* Flex items */
.flex-grow {
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
}

.flex-shrink {
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
}

.flex-end {
  align-self: flex-end;
  -webkit-align-self: flex-end;
}

.flex-start {
  align-self: flex-start;
  -webkit-align-self: flex-start;
}