$flex-percentages: 10 20 25 30 33 40 50 60 66 70 75 80 90 100;

@mixin flex-percent($percent, $prefix: false) {
  @if $prefix {
    .flex-#{$prefix}-#{$percent} {
      flex: 0 0 #{$percent}#{'%'};
      -webkit-flex: 0 0 #{$percent}#{'%'};
    }
  }
  @else {
    .flex-#{$percent} {
      flex: 0 0 #{$percent}#{'%'};
      -webkit-flex: 0 0 #{$percent}#{'%'};
    }
  }
}