@import "_reset.scss";
@import "_colors.scss";
@import "_fonts.scss";
@import "_flex.scss";

html {
  font-family: $font-stack;
  font-size: $font-size;
  color: $font-color;
  background: $font-background-color;
}

a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.page-header {
  h1 {
    font-size: $h1-size * 2;
  }

  h2 {
    font-size: $h2-size * 2;
  }

  h3 {
    font-size: $h3-size * 2;
  }

  h4 {
    font-size: $h4-size * 2;
  }

  h5 {
    font-size: $h5-size * 2;
  }

  h6 {
    font-size: $h6-size * 2;
  }
}

.page-background {
  padding: 0;
  margin: 0;
}

.content-container {
  padding: 0 0.5em;
  background: $font-background-color-light;
}

.page-header, .page-footer {
  background: $secondary-accent-color;
  color: $font-color-negative-light;
  //margin: $font-size;
  padding: $font-size;
}

.page-sections {
  margin: 2*$font-size 0;
}

.page-section {
  background: $font-background-color-light;
  //margin-bottom: 2em;
}

.section-header {
  padding: 1em;
}

.page-section {
  .section-content {
    line-height: 1.2;
    padding: 2em;

    p {
      padding: 1em 0;
    }

    .icon {
      max-height: 2em;
      width: auto;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }

    .quote {
      margin: 1em 0;

      .content {
        font-family: $font-stack-accent;
        font-style: italic;
        line-height: 1.4;

        &::before {
          content: "\201C";
        }

        &::after {
          content: "\201D";
        }
      }

      .author {
        font-size: $font-size * 0.9;
        color: $font-color-light;
        text-align: right;
        padding: 0.25em;

        &::before {
          content: "\2014 \2009";
        }
      }
    }
  }

  .section-header {
    //background: $accent-color;
    border-bottom: 0.5em solid $accent-color;
  }

  .subsection {
    margin-bottom: 2em;
    background: $font-background-color-light;

    p {
      padding: 1em;
    }

    .section-header {
      //background: $secondary-color;
      border-bottom: 0.5em solid $secondary-color;
      padding: 0.5em;
      color: $font-color;
    }
  }
}