@import "_reset.scss";
@import "_colors.scss";
@import "_fonts.scss";
@import "_flex.scss";

html {
  font-family: $font-stack;
  font-size: $font-size;
  color: $font-color;
  background: $background-color;
}

a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.page-header {
  h1 {
    font-size: $h1-size * 2;
  }

  h2 {
    font-size: $h2-size * 2;
  }

  h3 {
    font-size: $h3-size * 2;
  }

  h4 {
    font-size: $h4-size * 2;
  }

  h5 {
    font-size: $h5-size * 2;
  }

  h6 {
    font-size: $h6-size * 2;
  }
}

.page-background {
  padding: 0;
  margin: 0;
}

.page-header, .page-footer {
  background: $secondary-accent-color;
  color: $font-color-negative;
  //margin: $font-size;
  padding: $font-size;
}

.page-sections {
  margin: 2*$font-size 4*$font-size;
}

.page-section {
  background: $font-background-color;
  margin-bottom: 2em;
}

.section-header {
  padding: 1em;
}

.page-section {
  .section-content {
    line-height: 1.2;
    padding: 2em;

    p {
      padding: 1em 0;
    }

    .icon {
      max-height: 2em;
      width: auto;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }

  .section-header {
    background: $accent-color;
  }

  .subsection {
    margin-bottom: 2em;
    background: $font-background-color-light;

    p {
      padding: 1em;
    }

    .section-header {
      background: $secondary-color;
      padding: 0.5em;
      color: $font-color-light;
    }
  }
}